<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AXEnableLabel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>MTTintedSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.macthemes.phantomprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>AXEnableSwitch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AXVersionFooter</string>
			<key>label</key>
			<string>AXVersionLabel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>25.1.83.0</string>
			<key>defaults</key>
			<string>com.macthemes.phantomprefs</string>
			<key>isIP</key>
			<true/>
			<key>key</key>
			<string>newVersion</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>placeholder</key>
			<string>25.1.83.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AXDebugFooter</string>
			<key>label</key>
			<string>AXDebugLabel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>MTTintedSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.macthemes.phantomprefs</string>
			<key>key</key>
			<string>debugLogging</string>
			<key>label</key>
			<string>AXDebugSwitch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AXSocialLabel</string>
		</dict>
		<dict>
			<key>action</key>
			<string>open:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>MTContactCell</string>
			<key>height</key>
			<real>70</real>
			<key>image</key>
			<string>github.png</string>
			<key>subTitle</key>
			<string>AXSocialSourceSubTitle</string>
			<key>title</key>
			<string>AXSocialSourceTitle</string>
			<key>url</key>
			<string>https://github.com/espotty/Axolotl-fixed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Phantom for WhatsApp</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
